<div class="container">
    <form action="#">
      <div class="ui-g">
        <div class="ui-g-12">
          <h1>Novo Lançamento</h1>
        </div>

        <div class="ui-g-12">
          <p-selectButton [options]="option" #tipo></p-selectButton>
        </div>

        <div class="ui-g-6 ui-md-6 ui-fluid">
          <label for="">Vencimento</label>
          <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" name="vencimento" ngModel
            #vencimento="ngModel" required></p-calendar>

          <app-message [control]="vencimento" error="required" text="Campo obrigatório"></app-message>
        </div>


        <div class="ui-g-6 ui-md-6 ui-fluid">
          <label for="">{{ tipo.value === 'RECEITA' ? 'Receita' : 'Despesa' }}</label>
          <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" name="optionx" ngModel
            #optionx="ngModel" required></p-calendar>

          <app-message [control]="optionx" error="required" text="Campo obrigatório"></app-message>
        </div>

        <div class="ui-g-12 ui-md-9 ui-fluid">
          <label>Descrição</label>
          <input pInputText type="text" name="description" ngModel #description="ngModel"
            required minlength="5">

          <app-message [control]="description" error="required" text="Campo obrigatório"></app-message>
          <app-message [control]="description" error="minlength"
            text="Minimo de {{ description.errors?.minlength?.requiredLength }} caracteres"></app-message>
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Valor</label>
          <input pInputText type="text" name="valor" ngModel #valor="ngModel" required placeholder="R$ 0,00" currencyMask
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false }">

          <app-message [control]="valor" error="required" text="Campo obrigatório"></app-message>
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Categoria</label>
          <p-dropdown [options]="categories" [autoWidth]="false" placeholder="Selecione" [filter]="true"
            name="categorie" ngModel #categorie="ngModel" required></p-dropdown>

          <app-message [control]="categorie" error="required" text="Campo obrigatório"></app-message>
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Pessoa</label>
          <p-dropdown [options]="people" [autoWidth]="false" placeholder="Selecione" [filter]="true"
            name="peoplex" ngModel #peoplex="ngModel" required></p-dropdown>

          <app-message [control]="peoplex" error="required" text="Campo obrigatório"></app-message>
        </div>

        <div class="ui-g-12 ui-fluid">
          <label>Observação</label>
          <textarea pInputTextarea rows="3"></textarea>
        </div>

        <div class="ui-g-12">
          <button pButton type="submit" class="ui-button-primary" label="Salvar"></button>
          <button pButton type="Novo" label="Novo" class="ui-button-info"></button>
          <a href="#" class="back-search">Voltar para a pesquisa</a>
        </div>
      </div>
    </form>
  </div>
