<div class="container">
  <form>
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <input type="text" name="maturity-release" pInputText>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Recebimento</label>
        <input type="text" name="payment" pInputText>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input type="text" name="description" pInputText>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input type="text" name="money" pInputText>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria</label>
        <input type="text" name="category" pInputText>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa</label>
        <input type="text" name="people" pInputText>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea name="observation" rows="3" pInputTextarea></textarea>
      </div>

      <div class="ui-g-12">
        <button type="submit" label="Salvar" pButton></button>
        <button type="button" label="Novo" pButton class="ui-button-secondary"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
