<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Descrição</label>
      <input type="text" name="description" pInputText>
    </div>

    <div class="ui-g-12">
      <label style="display: block">Vencimento</label>
      <input type="text" name="venciemento" pInputText style="width: 95px">

      <label>Até</label>
      <input type="text" name="pagamento" pInputText style="width: 95px">
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="releases" [paginator]="true" [rows]="4" [responsive]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Pessoa</th>
            <th>Descrição</th>
            <th>Vencimento</th>
            <th>Pagamento</th>
            <th>Valor</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-release>
          <tr>
            <td>{{ release.pessoa }}</td>
            <td>{{ release.descricao }}</td>
            <td class="col-data">{{ release.dataVencimento }}</td>
            <td class="col-data">{{ release.dataPagamento }}</td>
            <td class="col-valor" [style.color]="release.tipo === 'DESPESA' ? 'red' : 'blue'">{{ release.valor }}</td>
            <td class="col-action">
              <a pButton icon="pi pi-pencil" class="ui-button-primary separete-button" pTooltip="Editar" tooltipPosition="top"></a>
              <button pButton icon="pi pi-trash" class="ui-button-primary separete-button" pTooltip="Excluir" tooltipPosition="top"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12">
      <a href="#" pButton label="Novo lançamento"></a>
    </div>
  </div>
</div>
